.header-container {
  display: flex;
  height: 120px;
}

.header-container-child {
  display: flex;
}

.logo {
  padding-top: 15px;
  padding-bottom: 30px;
}

.logo img {
  margin: 0 auto;
  flex-grow: 1;
}

.options1 {
  flex-grow: 5;
}

.options2 {
  flex-grow: 5;
  justify-content: right;
  height: 40px;
}
