<div class="header-container">
  <div class="header-container-child options1"></div>
  <div class="header-container-child logo">
    <img alt="logo" src="../assets/logo.png" />
  </div>
  <div class="header-container-child options2">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>
        <mat-icon>link</mat-icon>
        <span>Admin Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon>link</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item>
        <mat-icon>brightness_5</mat-icon>
        <span>Dark Mode</span>
      </button>
    </mat-menu>
  </div>
</div>
